.container{
    position: fixed;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.child{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.item{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    cursor: pointer;
}

.text{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}

.position{
    color: var(--green);
}