.container{
    position: fixed;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    animation: fadeInDown 1.2s forwards;
    animation-delay: 2.5s;
    transform: translateX(-100%);
    opacity: 0;
    user-select: none;
}

.child{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.item{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    cursor: pointer;
}

.text{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace; 
}

.position{
    color: var(--green);
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }