:root {
  --foreground-rgb: rgb(36, 36, 36);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green: #ff8686;
  --logo: brightness(0%);
  --invert: white;
  --scrollbar-background: rgb(201, 201, 201);
  --scrollbar-thumb: rgb(165, 165, 165);
  --loading: black;
  --light: rgb(114, 114, 114);
  --login-image: url('https://cdn.discordapp.com/attachments/852770019413721158/1130919295921168538/anime-pink.gif');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --green: #93ff65;
    --logo: brightness(100%);
    --invert: rgb(8, 8, 8);
    --scrollbar-background: rgb(20, 20, 20);
    --scrollbar-thumb: rgb(40, 40, 40);
    --loading: white;
    --light: rgb(180, 180, 180);
    --login-image: url('https://media.discordapp.net/attachments/852770019413721158/1128115123215667210/6aa37fd0017bdb291ca8cbdd8b0ede52.gif');
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scrollbar-gutter: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

Image{
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background); 
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 1vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
