.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    width: 40%;
    height: 89vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.text{
    margin: auto;
}

.text h1{
    color: var(--green);
    font-family: 'Courier New', Courier, monospace;
}

.text span{
    color: var(--foreground-rgb);
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
}

.text a{
    border: var(--green) solid 1px;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text a:hover{
    background-color: var(--green);
}

.imgcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: auto;
}

.about{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utsutsu{
    height: 70vh;
    filter: var(--logo);
    transition: all 0.5s;
}

.cero{
    display: flex;
    align-items: center;
}

.cero p{
    font-size: 3vh;
}

@media (max-width: 420px) {
    .cero p{
        font-size: 2vh;
    }

    .text h1{
        font-size: 2vh;
    }

    .text p{
        font-size: 1.5vh;
    }

    .text a{
        font-size: 1.5vh;
    }


}

@media (min-width: 280px) and (max-width: 767px) { 
    .child{
        width: 100%;
        padding: 2rem;
    } 

    .utsutsu{
        height: 35vh;
    }
}
  
@media (min-width: 768px) and (max-width: 1023px) {
    .child{
        width: 100%;
    } 

    .utsutsu{
        height: 70vh;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .child{
        width: 70%;
    } 

    .utsutsu{
        height: 80vh;
    }
}