.container{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    width: 40%;
    height: 89vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.text{
    margin: auto;
}

.text h1{
    color: #A4FF7E;
}

.text a{
    border: #A4FF7E solid 1px;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text a:hover{
    background-color: #A4FF7E;
    color: black;
}

.imgcontainer{
    margin: auto;
}

.button{
    margin: auto;
}

.about{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}