.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    width: 40%;
    height: 89vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.text{
    margin: auto;
}

.text h1{
    display: block;
    white-space: nowrap;
    width: 13.13ch;
    color: var(--green);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.imgcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.utsutsu{
    height: 70vh;
    filter: var(--logo);
    z-index: -1;
    user-select: none;
}

@media (max-width: 420px) {
    .text h1{
        font-size: 2vh;
    }
}

@media (min-width: 280px) and (max-width: 767px) { 
    .child{
        width: 100%;
        padding: 2rem;
    } 

    .utsutsu{
        height: 35vh;
    }
}
  
@media (min-width: 768px) and (max-width: 1023px) {
    .child{
        width: 100%;
    } 

    .utsutsu{
        height: 70vh;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .child{
        width: 70%;
    } 

    .utsutsu{
        height: 80vh;
    }
}
