.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.icon{
    color: var(--light);
    font-size: 2rem;
    cursor: pointer;
}

.icon:hover{
    color: var(--logo);
}