.container{
    margin-top: 20rem;
    width: 100%;
    height: max-content;
}

.child{
    width: 40%;
    height: 32rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.text{
    display: grid;
    row-gap: 1rem;
}

.text p span {
    color: var(--green);
}

.text p span::before {
    content: " ";
    color: var(--green);
}

.text p span:last-child::before {
    content: " ";
}

.txtcontainer{
    margin: auto;
}

.tittle{
    display: flex;
    gap: 1rem;
}

.tittle p{
    
    color: var(--green);
}

.utsutsu{
    width: 350px;
    height: 350px;
    box-shadow: -25px -25px 0px var(--green);
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 280px) and (max-width: 767px) {
        .child{
            width: 100%;
            padding: 2rem;
        }
        .utsutsu{
            width: 165px;
            height: 165px;
        }
        .text p{
            font-size: 1vh;
        }
  }
  
  /* De 768px a 1023px (tablets y pantallas más pequeñas en orientación horizontal) */
  @media (min-width: 768px) and (max-width: 1023px) {
        .child{
            width: 80%;
        }
        .utsutsu{
            width: 200px;
            height: 200px;
        }
        .text p{
            font-size: 1.2vh;
        }
  }
  
  /* De 1024px a 1279px (tablets y pantallas más grandes en orientación horizontal) */
  @media (min-width: 1024px) and (max-width: 1800px) {
        .child{
            width: 80%;
        }

        .utsutsu{
            width: 250px;
            height: 250px;
        }
        
        .text p{
            font-size: 1.6vh;
        }
  }
  