.container{
    margin-top: 20rem;
    width: 100%;
    height: max-content;
}

.child{
    width: 40%;
    height: 32rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.text{
    display: grid;
    row-gap: 1rem;
}

.text p span {
    color: var(--green);
}

.text p span::before {
    content: " ";
    color: var(--green);
}

.text p span:last-child::before {
    content: " ";
}

.tittle{
    display: flex;
    gap: 1rem;
}

.tittle p{
    color: var(--green);
}

.utsutsu{
    width: 350px;
    height: 350px;
    box-shadow: -25px 25px 0px var(--green);
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}